<!DOCTYPE html>

<html ng-app="Home">

	<head>
		<title>SmartCart</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="Bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="SmartCart.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="Home.html"><span class="Name" id="NamePart1">Smart</span> <span class="Name" id="NamePart2">Cart</span></a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
		</nav>
		<div id="Welcome">
			<div id="WelcomePart1">
				<div id="WelcomePart2">
					<div class="row">
						<div class="col-sm-12 text-center">
							<span id="WelcomeText">Shop smartly with us!</span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4 text-center">
							<div id="Form">
								<br>
								<br>
								<form class="form-inline">
									<div ng-controller="pricerange" class="form-group">
										<select class="form-control input-lg" name="price_range" ng-model="price_range">
											<option value="null">Select a price range.</option>
											<option value="Below5000">Below 5000</option>
											<option value="5000-10000">5000-10000</option>
											<option value="10000-15000">10000-15000</option>
                                                                                        <option value="15000-20000">15000-20000</option>
                                                                                        <option value="20000-25000">20000-25000</option>
                                                                                        <option value="25000-30000">25000-30000</option>
                                                                                        <option value="30000-35000">30000-35000</option>
                                                                                        <option value="35000-40000">35000-40000</option>
                                                                                        <option value="40000-45000">40000-45000</option>
                                                                                        <option value="45000-50000">45000-50000</option>
                                                                                        <option value="Above50000">Above 50000</option>
										</select>
										&nbsp;
										&nbsp;
                                                                                <a href="Questionnaire.html"><input type="button" value="Done" ng-click="add()" class="btn btn-primary btn-lg"></a>
									</div>
								</form>
								<br>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="JQuery/jquery-1.11.1.min.js"></script>
		<script src="AngularJS/angular.min.js"></script>
		<script src="Bootstrap/js/bootstrap.min.js"></script>
		<script src="SmartCart.js"></script>
	</body>

</html>